{%- set hostname = inventory_hostname.split('.')[0] %}
{%- if node_environment == 'prod' %}
    {%- set color = "SaddleBrown" %}
    {%- set title = "AEM\ " + node_tier %}
{%- elif node_environment == 'uat' %}
    {%- set color = "orange" %}
    {%- set title = node_platform + "\ " + node_stream + "\ " + hostname + "\ " + node_datacentre %}
{%- elif node_environment == 'dev' %}
    {%- set color = "green" %}
    {%- set title = node_platform + "\ " + node_stream + "\ " + hostname + "\ " + node_datacentre %}
{%- else %}
    {%- set color = "purple" %}
    {%- set title = node_platform + "\ " + node_stream + "\ " + hostname %}
{%- endif %}
service.pid="com.adobe.acs.commons.wcm.impl.AemEnvironmentIndicatorFilter"
browser-title-prefix="{{title}}"
css-color="{{color}}"
css-override=""
inner-html=""
