category="Main"
manager.root="/system/console"
plugins=("org.apache.felix.webconsole.internal.compendium.LogServlet","org.apache.felix.webconsole.internal.configuration.ConfigManager","org.apache.felix.webconsole.internal.core.BundlesServlet","org.apache.felix.webconsole.internal.core.ServicesServlet","org.apache.felix.webconsole.internal.misc.LicenseServlet","org.apache.felix.webconsole.internal.system.VMStatPlugin")
loglevel=I"2"
username="admin"
http.service.filter=""
realm="OSGi\ Management\ Console"
service.pid="org.apache.felix.webconsole.internal.servlet.OsgiManager"
default.render="bundles"
locale=""
password="{sha-256}{{admin_password_sha256}}"
